name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Upload and deploy site to GitHub Pages
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload repository contents for Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: './'

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
